#profile {
    background-color: rgb(26,32,44,0.6);
    animation: fadeInDown 1.5s linear;
}

@keyframes fadeInDown {
      0% {
      opacity: 0;
      transform: translateY(-10px);
       }
       100% {
      opacity: 1;
      transform: translateY(0);
       }
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6); /*can be anything, of course*/
}

#mode {
    height: 25px;
    width: 25px;
}

#mode:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

#imgpc{
    animation: fadeInUp 1s linear;
}

@keyframes fadeInUp {
      0% {
      opacity: 0;
      transform: translateY(10px);
       }
       100% {
      opacity: 1;
      transform: translateY(0);
       }
}

#imgpc:hover {
    transform: scale(1.01);
    transition: all 0.1s;
}

.footer {
    position: relative;
    margin-top: -25px;
    padding-bottom: 25px ;
    text-align: center;
    width: 100%;
    color: white;
}